<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Bootstrap CSS -->
<link href="/dist/css/bootstrap.min.css" rel="stylesheet" integrity="" crossorigin="anonymous" />
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" />

<script src="/dist/js/bootstrap.bundle.min.js"></script>

<title><%= pageTitle %></title>
